#main_content{
    height: 25em;
}

#log_parent{
    max-height: 25em;
    margin-top: 2em;
}

#mason_selector{
    margin-bottom: 1em;
}

#mason_controller{
    margin-top: 1em;
}

.dist{
    width: 5em;
}

#allocate_button{
    float:right;
}

#mason_action_editor{
    margin-top: 2em;
}

#action_list_parent{
    max-height: 13em;
}