<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUI操作ページ</title>
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/static/jquery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 id="title">プロコン 操作用ページ</h1>
        <div class="row">
            <div class="col-5 container">
                <canvas id="js_canvas" width="500" height="500"></canvas>
            </div>
            <div class="col">
                <div id="main_content" class="row">
                    <div class="col container">
                        <div class="row">
                            <div class="row">
                                <div class="col" id="flendlyteam_point">味方チーム:XXX</div>
                                <div class="col" id="enemyteam_point">敵チーム:XXX</div>
                            </div>
                            <div class="col">
                                <input type="text" name="procon-token" id="token_input" placeholder="tokenを入力" class="form-control d-inline">
                                <button type="button" id="get_match_list_button" class="btn btn-primary">試合一覧取得</button>
                            </div>
                            <div class="col">
                                <select name="" id="match_selector" class="form-control">
                                    <option value="">no matches found</option>
                                </select>
                                <button type="button" id="get_match_info_button" class="btn btn-primary">試合状況取得</button>
                            </div>
                        </div>
                        <div class="accordion row container overflow-auto" id="log_parent">
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <label for="mason_list">職人を選択</label>
                            <select name="mason_list" id="mason_selector" class="form-control">
                                <option value="">no masons found</option>
                            </select>
                            <button type="button" class="btn btn-secondary" id="update_mason_button">職人情報更新</button>
                            <button type="button" class="btn btn-primary" id="select_mason_button">選択</button>
                        </div>
                        <div id="mason_controller" class="d-none">
                            <label for="action_type">行動タイプ</label>
                            <select name="action_type" id="mason_action_selector" class="form-control">
                                <option value="move">移動</option>
                                <option value="build">建築</option>
                                <option value="destroy">破壊</option>
                            </select>
                            <label>目的地座標</label><br>
                            <label for="dist_x">x:</label>
                            <input type="number" name="dist_x" id="dist_x" class="d-inline dist" value="0">
                            <label for="dist_y">y:</label>
                            <input type="number" name="dist_y" id="dist_y" class="d-inline dist" value="0">
                            <button type="button" id="allocate_button" class="btn btn-primary">割り当て</button>
                        </div>
                        <div id="mason_action_editor" class="d-none">
                            職人行動予定
                            <div class="row">
                                <div class="col-8" id="action_list_parent">
                                    <ol class="list-group list-group-numbered" id="mason_action_list">
                                    </ol>
                                </div>
                                <div class="col-4">
                                    <div class="editor_item button-group d-none" id="delete_collapse">
                                        <button type="button" class="btn btn-danger" id="delete_action_button">削除</button>
                                    </div>
                                    <div class="editor_item button-group d-none" id="edit_collapse">
                                        <button type="button" class="btn btn-primary" id="edit_action_button">編集</button><br>
                                        <button class="btn btn-secondary" type="button" id="swap_up_action_button">上へ</button><br>
                                        <button class="btn btn-secondary" type="button" id="swap_down_action_button">下へ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div id="response_viewer"></div>
    <div id="debugger_area"></div>
    
    <script src="/static/script.js"></script>
</body>
</html>